.app {
  text-align: center;
}

.appHeader {
  text-align: center;
  background-color: #f0141e;
  min-height: 20vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 3em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

@media only screen and (max-width: 420px) {
  .title {
    font-size: 2.5em;
  }
}

main {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  main {
    padding: 20px 20px 0 20px;
  }
}

.thumbnailContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: left;
  line-height: 0;
  margin-right: -2%;
  margin-bottom: -2%;
}